<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- pageTitle %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<header>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
        <% if (isAdmin) { %>
          <a href="/blog/create">Create Post</a>
          <a href="/logout">Logout</a>
        <% } %>
    </nav>
</header>
