<!doctype html>
<html lang="en">
        <%- include('partials/header', { pageTitle: "About Adam" }) %>
    <body>
        <h1>About</h1>
        <p>
            Brief description of yourself can go here
        </p>
    </body>
</html>
