<!doctype html>
<html lang="en">
  <%- include('partials/header', { pageTitle: "Adam's Blog" }) %>
  <body>
    <h1>Blog</h1>
    <% if (blogPosts.length > 0) { %>
      <% blogPosts.forEach(function(post) { %>
      <section class="blog-post">
        <h2 "class="post-title"><a href="/blog/<%= post.id %>"><%= post.title %></a></h2>
        <div class="post-content"><%- post.html_content %></div>
        <p class="post-date">Published on: <%= new Date(post.created_at).toLocaleDateString() %></p>
      </section>
    <% }); %>
          <div class="pagination">
        <% if (currentPage > 1) { %>
          <a href="/blog?page=<%= currentPage - 1 %>">Previous</a>
        <% } %>
        <% for (let i = 1; i <= totalPages; i++) { %>
          <a href="/blog?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
        <% } %>
        <% if (currentPage < totalPages) { %>
          <a href="/blog?page=<%= currentPage + 1 %>">Next</a>
        <% } %>
      </div>
    <% } else { %>
      <p>No posts to display</p>
    <% } %>
  </body>
</html>
