<!DOCTYPE html>
<html lang="en">
<%- include('partials/header', { pageTitle: 'Create Blog Post' }) %>
<body>
    <h1>Create Blog Post</h1>
    <form action="/blog/create" method="POST">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div>
            <label for="content">Content (Markdown):</label>
            <textarea id="content" name="content" required></textarea>
        </div>
        <button type="submit">Create Post</button>
    </form>
</body>
</html>
