<!doctype html>
<html lang="en">
    <%- include('partials/header', { pageTitle: "Adam's Home" }) %>
    <body>
        <h1>Home</h1>
        <p>
            Hello, and weclome to my Subparstack.
        </p>
    </body>
</html>
