<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header', { pageTitle: 'Login' }) %>
  <body>
    <h1>Login</h1>
    <form action="/login" method="POST">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
  </body>
</html>
