<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header', { pageTitle: post.title }) %>
  <body>
    <article>
      <h1><%= post.title %></h1>
      <div><%- post.html_content %></div>
      <p>Published on: <%= new Date(post.created_at).toLocaleDateString() %></p>
    </article>
    <a href="/blog">Back to blog</a>
  </body>
</html>
